<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<opt version="1.0">
  <dict>
    <key>CFBundleName</key>
    <key>CFBundlePackageType</key>
    <key>CFBundleShortVersionString</key>
    <key>SLKReleaseName</key>
    <key>CFBundleVersion</key>
    <key>LSRequiresIPhoneOS</key>
    <string>MYAPP</string>
    <string>APPL</string>
    <string>1.10</string>
    <string>Cake</string>
    <string>370000</string>
    <true></true>
  </dict>
</opt>
